// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: #FF6600;

// Text colours
$headingColour: #2e2b24;
$bodyColour: #473c38;
$linkColour: #  #FF6600;
$hoverColour: #9e4603;
$focusColour: #fa407a;
$captionColour: #b2b2b2;
$white: #ffffff;

// Typography
$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: 'Montserrat', sans-serif;
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Montserrat');
